<%= uikit_devise_error_messages! %>
<div class="uk-grid uk-panel-devise" data-uk-grid-margin>
  <div class="uk-width-medium-1-2 uk-container-center uk-row-first">
    <div class="uk-panel uk-panel-box">
      <h1><%= t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions') %></h1>
      <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, role: "form" }) do |f| %>
      <div class="uk-form uk-form-stacked">
        <div class="uk-form-row">
          <%= f.label :email, :class => "uk-form-label" %>
          <%= f.email_field :email, autofocus: true, class: "uk-form-controls uk-form-width-large"  %>
        </div>
        <br />
        <%= f.submit t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions'), class: "uk-button uk-button-primary" %>
        <% end %>
      </div>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
