<%= uikit_devise_error_messages! %>
<div class="uk-height-1-1 uk-devise-views">
  <div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle">
      <div class="uk-panel uk-panel-box uk-form">
        <h1><%= t('.title', :resource => resource_class.model_name.human , :default => "Edit #{resource_name.to_s.humanize}") %></h1>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <div class="uk-form-row uk-form-icon uk-text-left">
          <i class="uk-icon-envelope-o"></i>
          <%= f.email_field :email, autofocus: true, class: "uk-width-1-1 uk-form-large uk-form-width-large", placeholder: t('activerecord.attributes.user.email', :default => 'email') %>
        </div>
        <div class="uk-form-row">
          <%= t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it") %>
          <div class="uk-form-icon uk-text-left">
            <i class="uk-icon-key"></i>
            <%= f.password_field :password, :autocomplete => "off", class: "uk-width-1-1 uk-form-large uk-form-width-large", placeholder: t('devise.passwords.edit.new_password', :default => 'New Password') %>
          </div>
        </div>
        <div class="uk-form-row uk-form-icon uk-text-left">
          <i class="uk-icon-key"></i>
          <%= f.password_field :password_confirmation, class: "uk-width-1-1 uk-form-large uk-form-width-large", placeholder: t('devise.passwords.edit.confirm_new_password', :default => 'New Password Confirm') %>
        </div>
        <div class="uk-form-row">
          <%= t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') %>
          <div class="uk-form-icon uk-text-left">
            <i class="uk-icon-key"></i>
            <%= f.password_field :current_password, class: "uk-width-1-1 uk-form-large uk-form-width-large", placeholder: t('activerecord.attributes.user.current_password', :default => 'Current Password') %>
          </div>
        </div>
        <div class="uk-form-row">
          <%= f.button t('.update', :default => "Update"),  class: "uk-width-1-1 uk-button uk-button-primary uk-button-large" %>
        </div>
        <% end %>
        <p><%= t('.unhappy', :default => 'Unhappy') %>? <%= link_to t('.cancel_my_account', :default => "Cancel my account"), registration_path(resource_name), :data => { :confirm => t('.are_you_sure', :default => "Are you sure?") }, :method => :delete %>.</p>
        <%= link_to t('.back', :default => 'Back'), :back %>
      </div>
    </div>
  </div>
</div>
