<%= uikit_devise_error_messages! %>
<div class="uk-height-1-1 uk-devise-views">
  <div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle">
      <div class="uk-panel uk-panel-box uk-form">
        <h1><%= t('.resend_unlock_instructions', :default => "Resend unlock instructions") %></h1>
        <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, html: { role: "form" } }) do |f| %>
        <div class="uk-form-row uk-form-icon uk-text-left">
          <i class="uk-icon-envelope-o"></i>
          <%= f.email_field :email, autofocus: true,  class: "uk-width-1-1 uk-form-large uk-form-width-large", placeholder: t('activerecord.attributes.user.email', :default => 'email') %>
        </div>
        <div class="uk-form-row">
          <%= f.button t('.resend_unlock_instructions', :default => "Resend unlock instructions"), class: "uk-button uk-button-primary uk-button-large"%>
        </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
