<div class="uk-grid uk-panel-devise" data-uk-grid-margin>
  <div class="uk-width-medium-1-2 uk-container-center uk-row-first">
    <div class="uk-panel uk-panel-box">
      <h1><%= t('.sign_in', :default => "Sign in") %></h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
      <div class="uk-form uk-form-stacked">
        <div class="uk-form-row">
          <%= f.label :email, :class => "uk-form-label" %>
          <%= f.email_field :email, autofocus: true, :class => "uk-form-controls uk-form-width-large" %>
        </div>
        <div class="uk-form-row">
          <%= f.label :password, :class => "uk-form-label" %>
          <%= f.password_field :password, autocomplete: "off", :class => "uk-form-controls uk-form-width-large" %>
        </div>
        <% if devise_mapping.rememberable? %>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        </div>
        <% end %>
        <%= f.button  t('.sign_in', :default => "Sign in"), class: "uk-button uk-button-primary" %>
        <% end %>
      </div>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
